body{
    background-color: #3b3d40;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 90%;
    /* background-color: #292d2e; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

img{
    max-width: 800px;
    max-height: 800px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid transparent;
    border-radius: 5%;
}

 /* #getDog{
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    background-color: #3e4f69;
    width: 200px;
    height: 50px;
    border: solid transparent;
    border-radius: 5%;
    font-weight: bold;
} */

/* #previousDog{
    position: fixed;
    bottom: 2px;
    left: 20%;
    transform: translate(-50%);
    background-color: #3e4f69;
    width: 200px;
    height: 50px;
    border: solid transparent;
    border-radius: 5%;
    font-weight: bold;
}

#nextDog{
    position: fixed;
    bottom: 2px;
    left: 80%;
    transform: translate(-50%);
    background-color: #3e4f69;
    width: 200px;
    height: 50px;
    border: solid transparent;
    border-radius: 5%;
    font-weight: bold;
}  */

